---
layout: default
---

<div id="myplot"></div>
<script type="module">
import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm"
constellation = FileAttachment("constellationmetadata.json").json({typed:true})
const plot = Plot.plot(constellation, {
  height: 800,
  width: 2000,
  marginRight: 90,
  marginLeft: 100,
  grid: false,
  x: {
    nice: true,
    axis: "top",
    grid: false,
    percent: true,
    reverse: true,
    zero: false,
    inset: 0,
    domain: [-60, 400]
},
  y: {inset: 5},
  color: {type: "categorical"},
  marks: [
    Plot.frame(),
    Plot.dot(data, {
      x: "startpage",
      y: "anthology",
      fy: "Anthology",
      stroke: "title", 
      channels: {creator: "author", title: "title", date: "date", anthology: "anthology"},
      tip: true,
    }),
  ]
});
const div = document.querySelector("#myplot");
div.append(plot);
</script>