---
layout: default
---
{%- assign constellation = site.data[site.compoundobjects-metadata] -%}
<div id="myplot"></div>
<script type="module">
import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm"
var data = {{ constellation | jsonify }};

const plot = Plot.plot({
  height: 800,
  marginRight: 90,
  marginLeft: 100,
  grid: true,
  x: {nice: true, inset: 0},
  y: {inset: 5},
  color: {type: "categorical"},
  marks: [
    Plot.frame(),
    Plot.dot(data {
      x: "startpage",
      y: "parentid",
      fy: "Anthology",
      sort: {y: "x", fy: "x", reduce: "median", reverse: true}
    })
  ]
})
const div = document.querySelector("#myplot");
div.append(plot);
</script>